{%  extends 'base.html' %}

{% block title %} New category {% endblock %}

{%  block content %}

{%  if user.is_authenticated  %}

    <h1> Create a new category </h1>
    <br/>

    <div class ="form-group">
    <form method = "POST">
       {%  csrf_token %}
        {{ form.as_p}}

      <a href="{% url 'home' %}" class="btn btn-secondary"> Back to main page</a>
      <button  class="btn btn-secondary">Save</button>


{%  else %}
   You can not add new category
{% endif %}
         </div>
{%  endblock %}