{%  extends 'base.html' %}

{% block title %} New post {% endblock %}

{%  block content %}

{%  if user.is_authenticated  %}

    <h1> Create a new post </h1>
    <br/>

    <div class ="form-group">
    <form method = "POST">
       {%  csrf_token %}
       {{ form.as_p }}
       {{ form.media }}
       
       <a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>
      <button  class="btn btn-secondary">Save post</button>

     <script> 
        var name = "{{ user.id}}";
        document.getElementById("elder").value 
            = name;
     </script>

{%  else %}
   You can not add new post
{% endif %}
         </div>
{%  endblock %}