{%  extends 'base.html' %}

{% block title %}{{ post.title }} {% endblock %}

{%  block content %}


<h1> {{ post.title }} </h1>
<small> {{ post.post_date}} </small> <br/> <br/>
<a href ="{% url 'category' post.category  %}" > {{ post.category }} </a> <br/>
<a href ="{% url 'update_post' post.pk %}" class="btn btn-outline-secondary"> Edit post </a>
<a href ="{% url 'delete_post' post.pk %}" class="btn btn-outline-danger"> Delete post </a>
<br/>
<hr>
{{ post.body | safe }}
<br/> <br/>

<a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>

{%  endblock %}