{%  extends 'base.html' %}
{% block title %} Category: {{ cats }}  {% endblock %}
{%  block content %}

{% if category_posts %}


<ul> <h1> {{ cats }}  </h1>   </ul>

    <ul>
    
    {% for post in category_posts %}
       <a href="{% url 'article_detail' post.pk %}"> 
           {{ post.title }}</a>  <small> {{ post.post_date}} </small> <br/> <br/>
           
     
    

    {% endfor %}
    <a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>
    </ul>

    {%  else  %}
       <h2> Sorry, there are no articles in this category yet </h2>
       <a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>
         

    {%  endif %}
    

{%  endblock %}

