<html lang="en">

{%  extends 'base.html' %}
{% load static %}

{%  block content %}

<!--<h1> Posts </h1> -->

     <div class="random-q" style="text-align: right;">
      
    
       
     
       <div id="quotecontainer">
        
        <p class="lead" id="parag"> Quote of the day: <br/> <em> 事实胜于雄辩。 (Shìshí shèng yú xióngbiàn).— Facts beat eloquence. </em><br><br>
        <i class="pull-left"></i></p>

        <!---
        <button onclick="getQuote()" type="button" id="btn-bottom-right" class="btn btn-secondary">New Quote</button>
        --> 
        </div>
       
</div> <br/> <br/> 


{%  for post in object_list %}
<ul class="Post_prev">
   <h4>   {{ post.title }}  </h4>  
    {%  if post.header_image  %}

    <img src= "{{ post.header_image.url }}" style="height:150px; width:150px;
      -moz-border-radius: 50%; border-radius: 50%; ">

    {%  endif %}
    {{ post.snipped | safe}}
    <h5>  <a href="{% url 'article_detail' post.pk %}"> Read more... </a>  </h5>
</ul>
{% endfor %}


 {% if is_paginated %}

 
      {% if page_obj.has_previous %}
        <a class="btn btn-secondary" href="?page=1">First</a>
        <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-pagination" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-secondary" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %} 
  
  {% endif %}  
</ul>


{%  endblock %}

</html>