body {
  background: #e7d9e3;
  background-image: url("/static/wall.jpg");
  background-size: cover;
 
  margin: 10px;
<<<<<<< HEAD
  background-image: url("/static/wall.jpg");
  background-size: cover;
  width: 100%;
=======
  width: 95%;
>>>>>>> redesign buttons
}
.Post_prev
{
     background-color: #eee;
<<<<<<< HEAD
=======
     opacity: 0.9;
>>>>>>> redesign buttons
     box-sizing: border-box;
     opacity: 0.9;
     padding-right: .5rem;
     padding-left: .5rem;
<<<<<<< HEAD
  
=======
     border:3px solid  grey;
>>>>>>> redesign buttons
     box-sizing: border-box;
     box-shadow:0 1px 1px rgba(0,0,0,0.1);
}

.post.title

{
  color: black;
}
.navbar-expand-lg  {

<<<<<<< HEAD
 
=======
  background: none;
>>>>>>> redesign buttons
  
  display: flex!important;
  margin: 15px;
  text-decoration: none;
  text-transform:uppercase;
  font-weight:bolder;
  box-sizing: border-box;
  padding-right: .5rem;
  padding-left: .5rem;
}



.nav-item {
    margin: 0;
<<<<<<< HEAD
    background: #eee;
    opacity: 0.8;
=======
    background: rgb(180, 173, 173);
    
>>>>>>> redesign buttons
    font-family: Lobster, Arial, Helvetica, sans-serif;
    max-width: 100%;
    display: block;
    justify-content: space-evenly;
    border-right:1px solid #eee;
    box-sizing: border-box;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    text-transform:uppercase;
    font-weight:bolder;
    font-size: 16px;
    }

             
.dropdown-item
 {
    margin: 0;
    
    font-family: Lobster, Arial, Helvetica, sans-serif;
    max-width: 100%;
    
    background: rgb(180, 173, 173);
    
    text-transform:uppercase;
    font-weight:bolder;
    font-size: 16px;

 }



.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
    text-align: left;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #603808;
    background: none;
    font-weight:bolder;
    border-color: #603808;
}


.btn btn-secondary-a:hover {
    color: #603808;
    font-weight:bolder;
    border-color: #603808;

}

.btn-secondary-red,
.btn-secondary-red:visited {
    color: #ad2e24;
    background: none;
    font-weight:bolder;
    border-color: #ad2e24;
}

.btn-secondary-red:hover {
    color: #eee;
    font-weight:bolder;
    background: #ad2e24;
    border-color: #ad2e24;

}

.btn-pagination,
.btn-pagination:visited
 {

    color: #ffffff;
    font-weight:bolder;
    border-color: #603808;
    background-color: #603808;

}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #603808;
}

.btn btn-outline-info mb-4 {
    color: #FFFFFF;
    background-color: #603808;
}

.btn btn-info mb-4 {
    color: #4b8cb3;
    background: none;
    border-color: #396a87;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#603808;
}

.site-footer
{
  
  text-align: center;
  font-size:15px;
  line-height:24px;
<<<<<<< HEAD
  color:#2c2727;
=======
  color:#200f0f;
}

.site-footer-text
{
  
  text-align: center;
  font-size:18px;
  line-height:24px;
  color: black;
  -webkit-text-stroke: 0,5 px white;
>>>>>>> redesign buttons
}

.site-footer hr
{
<<<<<<< HEAD
  border-top-color:rgb(41, 35, 35);
=======
  border-top-color: #ffffff;
>>>>>>> redesign buttons
  text-align: center;
  
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ffffff;
  text-align: center;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  align-items:center;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#020d1a;
  align-items:center;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#020d1a;
  text-decoration:none;
  align-items:center;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right;
  align-items:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  color: white;
  background-color:#8b5e34;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  justify-content:center;
  list-style:none;

}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  align-items:center;
  text-align:center;
  color:white;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#020d1a;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  align-items:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#8b5e34;
  align-items:center;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#a47148;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    align-items:center;
    font-weight:600
  }
}



